@charset "UTF-8";
.full {
  width: 100%; }

.one_half {
  width: 48.7%; }

.one_third {
  width: 31.6%; }

.two_third {
  width: 65.8%; }

.one_fourth {
  width: 23.05%; }

.three_fourth {
  width: 74.35%; }

.one_fifth {
  width: 17.92%; }

.two_fifth {
  width: 38.44%; }

.three_fifth {
  width: 58.96%; }

.four_fifth {
  width: 79.48%; }

.one_sixth {
  width: 14.5%; }

.five_sixth {
  width: 82.9%; }

.last {
  clear: right;
  margin-right: 0px !important; }

.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  margin-right: 2.6%;
  margin-bottom: 20px;
  position: relative;
  float: left; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: "Open Sans", sans-serif; }

body {
  background: #ecf0f1 url(../img/noise-grey.jpg); }

#mainContainer, body, html {
  min-width: 300px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

#header {
  width: 100%;
  height: 40px; }

#header {
  background: #2b2b2b;
  width: 100%;
  margin: 0; }

#headerinner {
  max-width: 960px;
  height: inherit;
  margin: 0 auto;
  position: relative; }

#img {
  margin: 0 auto;
  width: 40px;
  height: inherit;
  padding: 0; }

#img img, #footIMG img {
  width: 100%;
  z-index: 1; }
#img a, #footIMG a {
  display: block;
  height: 100%;
  transition: background 0.5s;
  z-index: 2; }

#footIMG a {
  padding: 5px; }

#footIMG a:hover {
  background: #b5bcbd; }

#navigation {
  width: auto;
  height: inherit;
  position: absolute;
  right: 20px;
  top: 0;
  display: table; }
  #navigation ul {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    padding: 0; }
  #navigation ul li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #ffffff; }
  #navigation ul li:nth-child(3) {
    border-right: 0; }
  #navigation a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s; }
  #navigation a:hover {
    color: #94aab0;
    transition: color 0.3s; }

#containerOuter, .sectionOuter {
  width: 100%; }

.sectionOuter {
  position: relative; }

.fixpic {
  position: absolute;
  left: 0;
  height: 100%;
  background: #000; }

.black {
  background: #2b2b2b;
  color: white; }

section, #container {
  max-width: 960px;
  height: auto;
  min-height: 100px;
  margin: 0 auto 20px; }
  section img, #container img {
    width: 100%; }
  section h1, #container h1 {
    text-align: center; }
  section > .one_half, #container > .one_half {
    text-align: justify; }
    section > .one_half > .one_fifth div, #container > .one_half > .one_fifth div {
      margin: 0 auto;
      width: 48px;
      color: #9aa4a5;
      -webkit-transition: color 0.7s;
      -ms-transition: color 0.7s;
      -moz-transition: color 0.7s;
      -o-transition: color 0.7s;
      transition: color 0.7s; }
  section > .one_half:hover .one_fifth div, #container > .one_half:hover .one_fifth div {
    color: black;
    -webkit-transition: color 0.7s;
    -ms-transition: color 0.7s;
    -moz-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s; }

#container {
  padding: 1em; }
  #container .one_half:nth-child(1) {
    margin-left: 1.3%;
    border-right: 1px solid #9aa4a5; }

section {
  padding: 0; }
  section span {
    font-size: 1.2em;
    color: #e6e6e6; }
  section h1 {
    text-align: left;
    font-size: 3em; }
  section .last {
    margin-bottom: 0; }

#container:after, section:after {
  content: "";
  display: block;
  clear: both; }

/* --------------------------
 * ----- Reference.html -----
 * --------------------------
 */
#refContainer {
  width: 960px;
  padding: 1em;
  height: auto;
  margin: 1em auto 0; }
  #refContainer h3 {
    border-bottom: 1px solid #9aa4a5;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1em;
    font-size: 1.2em;
    height: 1.1em;
    color: #9aa4a5;
    -webkit-transition: color 0.7s;
    -ms-transition: color 0.7s;
    -moz-transition: color 0.7s;
    -o-transition: color 0.7s;
    transition: color 0.7s; }

#refContainer:hover h3 {
  color: #4e5758;
  -webkit-transition: color 0.7s;
  -ms-transition: color 0.7s;
  -moz-transition: color 0.7s;
  -o-transition: color 0.7s;
  transition: color 0.7s; }

#sortOuter {
  width: 200px;
  height: auto; }

#sortInner {
  width: inherit;
  height: 300px;
  padding: 5px;
  background: black; }
  #sortInner section {
    background: white;
    padding: 5px; }

#footer {
  width: 99%;
  height: 40px;
  margin: 0 auto;
  padding: 0 10px;
  border-top: 1px solid #9aa4a5;
  color: #9aa4a5;
  font-size: 0.5em; }
  #footer #footerInner {
    position: relative;
    width: 100%;
    height: inherit; }

#footIMG {
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  width: 30px; }

/* --------------------------
 * -------- CONTACT ---------
 * --------------------------
 */
#contact {
  height: inherit;
  width: 100%;
  position: fixed;
  z-index: 300;
  display: none; }
  #contact h3 {
    margin-top: 5px;
    padding-left: 1em;
    font-size: 1.2em;
    height: 1.1em;
    border-bottom: 1px solid #9aa4a5;
    color: #7f8c8d; }
  #contact a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #contact label {
    margin: 0;
    padding: 0;
    display: block; }
  #contact #contactOuter {
    width: 100%;
    height: 0;
    position: absolute; }
    #contact #contactOuter #contactInner {
      max-width: 40em;
      height: auto;
      position: static;
      -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      margin: 5em auto 0;
      background: white;
      padding: 10px; }

#contact:target {
  display: block;
  background: rgba(0, 0, 0, 0.5); }

#contact:target #contactInner {
  background: rgba(255, 255, 255, 0.9); }

textarea, input:not([type=button]):not([type=submit]), input[type=button], input[type=submit] {
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

textarea, input:not([type=button]):not([type=submit]) {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em; }

input[type=button], input[type=submit] {
  cursor: pointer;
  margin: 0.5em 0 0 0;
  padding: 0.5em 2em;
  background: #2b2b2b;
  border: none;
  color: #fff; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

form {
  max-width: 30em;
  margin: 0 auto; }

form div.group > div {
  width: 46%;
  margin: 0 0 0.5em; }

@media screen and (max-width: 960px) {
  #refContainer {
    width: 100%; }

  #contact, #contactInner, #container {
    width: 100%; }

  #contactInner > form {
    width: 100%; } }
/* --------------------------
 * -------- SLIDER ----------
 * --------------------------
 */
/* calculate autoplay */
@-webkit-keyframes arrow {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@-moz-keyframes arrow {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@-ms-keyframes arrow {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@keyframes arrow {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes fade {
  0%, 62.5%, 100% {
    opacity: 0;
    z-index: 2; }
  12.5%, 50% {
    opacity: 1;
    z-index: 2; } }
@-moz-keyframes fade {
  0%, 62.5%, 100% {
    opacity: 0;
    z-index: 2; }
  12.5%, 50% {
    opacity: 1;
    z-index: 2; } }
@-ms-keyframes fade {
  0%, 62.5%, 100% {
    opacity: 0;
    z-index: 2; }
  12.5%, 50% {
    opacity: 1;
    z-index: 2; } }
@keyframes fade {
  0%, 62.5%, 100% {
    opacity: 0;
    z-index: 2; }
  12.5%, 50% {
    opacity: 1;
    z-index: 2; } }
/* calculate autoplay */
@-webkit-keyframes pauseChange {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@-moz-keyframes pauseChange {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@-ms-keyframes pauseChange {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@keyframes pauseChange {
  0%, 49.99% {
    opacity: 1;
    z-index: 5; }
  50%, 100% {
    opacity: 0;
    z-index: -1; } }
@-webkit-keyframes bullet {
  0%, 49.99% {
    background: #ffffff; }
  50%, 100% {
    background: transparent; } }
@-moz-keyframes bullet {
  0%, 49.99% {
    background: #ffffff; }
  50%, 100% {
    background: transparent; } }
@-ms-keyframes bullet {
  0%, 49.99% {
    background: #ffffff; }
  50%, 100% {
    background: transparent; } }
@keyframes bullet {
  0%, 49.99% {
    background: #ffffff; }
  50%, 100% {
    background: transparent; } }
#sliderOuter {
  width: 100%;
  height: auto;
  background: black;
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
  z-index: 1; }

@font-face {
  font-family: "basiccontrols";
  src: url("../engine1/ebasiccontrols.eot");
  src: url("../engine1/basiccontrols.eot#iefix") format("embedded-opentype"), url("../engine1/basiccontrols.woff") format("woff"), url("../engine1/basiccontrols.ttf") format("truetype"), url("../engine1/basiccontrols.svg#basic") format("svg");
  font-weight: normal;
  font-style: normal; }
/* IE10+ hack */
_:-ms-input-placeholder, :root .csslider1 > .cs_play_pause > label:after {
  line-height: 18px; }

.sliderInner {
  display: inline-block;
  position: relative;
  height: inherit;
  width: 100%;
  /* stop */
  /* calculate autoplay */
  /* stop */
  /* /calculate autoplay */
  /* calculate autoplay */
  /* calculate autoplay */
  /* stop */ }
  .sliderInner > .cs_anchor {
    display: none; }
  .sliderInner > ul {
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    margin: 0 auto;
    padding: 0;
    height: inherit;
    overflow: hidden;
    white-space: nowrap; }
    .sliderInner > ul > li.img img {
      width: 110%;
      position: fixed;
      top: 0; }
    .sliderInner > ul > li.img {
      font-size: 0pt; }
    .sliderInner > ul > li {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      font-size: 15px;
      font-size: initial;
      line-height: normal;
      white-space: normal;
      vertical-align: top;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
  .sliderInner .cs_lnk {
    position: absolute;
    top: -9999px;
    left: -9999px;
    font-size: 0pt;
    opacity: 0;
    filter: alpha(opacity=0); }
  .sliderInner > ul > li.img,
  .sliderInner > .cs_arrowprev,
  .sliderInner > .cs_arrownext,
  .sliderInner > .cs_bullets,
  .sliderInner > .cs_play_pause {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; }
  .sliderInner > .cs_arrowprev,
  .sliderInner > .cs_arrownext {
    position: absolute;
    top: 10%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    z-index: 5; }
  .sliderInner > .cs_arrowprev > label,
  .sliderInner > .cs_arrownext > label {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    opacity: 0;
    z-index: -1; }
  .sliderInner > .cs_arrowprev {
    left: 0; }
  .sliderInner > .cs_arrownext {
    right: 0; }
  .sliderInner > .slide:checked ~ .cs_arrowprev > label,
  .sliderInner > .slide:checked ~ .cs_arrownext > label {
    opacity: 0;
    z-index: -1; }
  .sliderInner > #cs_slide1_0:checked ~ .cs_arrowprev > label.num1,
  .sliderInner > #cs_pause1_0:checked ~ .cs_arrowprev > label.num1,
  .sliderInner > #cs_slide1_0:checked ~ .cs_arrownext > label.num1,
  .sliderInner > #cs_pause1_0:checked ~ .cs_arrownext > label.num1,
  .sliderInner > #cs_slide1_1:checked ~ .cs_arrowprev > label.num0,
  .sliderInner > #cs_pause1_1:checked ~ .cs_arrowprev > label.num0,
  .sliderInner > #cs_slide1_1:checked ~ .cs_arrownext > label.num0,
  .sliderInner > #cs_pause1_1:checked ~ .cs_arrownext > label.num0 {
    opacity: 1;
    z-index: 5; }
  .sliderInner > #cs_play1:checked ~ .cs_arrowprev > label.num1,
  .sliderInner > #cs_play1:checked ~ .cs_arrownext > label.num1 {
    -webkit-animation: arrow 16000ms infinite -2000;
    -ms-animation: arrow 16000ms infinite -2000;
    -moz-animation: arrow 16000ms infinite -2000;
    -o-animation: arrow 16000ms infinite -2000;
    animation: arrow 16000ms infinite -2000; }
  .sliderInner > #cs_play1:checked ~ .cs_arrowprev > label.num0,
  .sliderInner > #cs_play1:checked ~ .cs_arrownext > label.num0 {
    -webkit-animation: arrow 16000ms infinite 6000ms;
    -ms-animation: arrow 16000ms infinite 6000ms;
    -moz-animation: arrow 16000ms infinite 6000ms;
    -o-animation: arrow 16000ms infinite 6000ms;
    animation: arrow 16000ms infinite 6000ms; }
  .sliderInner > .slide:checked ~ .cs_arrowprev > label,
  .sliderInner > .slide:checked ~ .cs_arrownext > label,
  .sliderInner > .pause:checked ~ .cs_arrowprev > label,
  .sliderInner > .pause:checked ~ .cs_arrownext > label {
    -webkit-animation: none;
    -ms-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none; }
  .sliderInner > .cs_bullets {
    position: absolute;
    left: 0;
    bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    z-index: 6;
    font-size: 0;
    line-height: 8pt;
    text-align: center; }
    .sliderInner > .cs_bullets > div {
      margin-left: -50%;
      width: 100%; }
    .sliderInner > .cs_bullets > label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 0 5px;
      padding: 9px;
      background: #2b2b2b; }
      .sliderInner > .cs_bullets > label > .cs_point {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2px;
        margin-top: -2px;
        background: transparent;
        border-radius: 50%;
        padding: 2px; }
      .sliderInner > .cs_bullets > label > .cs_thumb {
        visibility: hidden;
        position: absolute;
        opacity: 0;
        z-index: 1;
        line-height: 0;
        left: -32px;
        top: -48px; }
        .sliderInner > .cs_bullets > label > .cs_thumb > img {
          max-width: none; }
  .sliderInner .cs_play_pause {
    position: absolute;
    bottom: 7%;
    left: 5%;
    z-index: 5; }
    .sliderInner .cs_play_pause > label {
      position: absolute;
      cursor: pointer;
      text-decoration: none;
      padding: 15px;
      height: auto;
      width: auto;
      margin-top: -28px;
      margin-left: -28px;
      background-color: #2b2b2b;
      -webkit-border-radius: 10%;
      -ms-border-radius: 10%;
      -moz-border-radius: 10%;
      -o-border-radius: 10%;
      border-radius: 10%; }
    .sliderInner .cs_play_pause > label,
    .sliderInner .cs_play_pause > label:after {
      -webkit-transition: background-color 0.4s ease;
      -ms-transition: background-color 0.4s ease;
      -moz-transition: background-color 0.4s ease;
      -o-transition: background-color 0.4s ease;
      transition: background-color 0.4s ease;
      -webkit-transition: color 0.4s ease;
      -ms-transition: color 0.4s ease;
      -moz-transition: color 0.4s ease;
      -o-transition: color 0.4s ease;
      transition: color 0.4s ease; }
    .sliderInner .cs_play_pause > label:after {
      display: block;
      font: 15px "basiccontrols";
      color: #ffffff;
      margin: 0 auto;
      line-height: 5px;
      text-align: center; }
    .sliderInner .cs_play_pause > .cs_play:after {
      content: ""; }
    .sliderInner .cs_play_pause > .cs_pause:after {
      content: ""; }
  .sliderInner .cs_play_pause:hover > label {
    background-color: #454545; }
  .sliderInner > #cs_play1:checked ~ .cs_play_pause > .cs_pause,
  .sliderInner > .slide:checked ~ .cs_play_pause > .cs_play,
  .sliderInner > .pause:checked ~ .cs_play_pause > .cs_play {
    display: block;
    z-index: 5; }
  .sliderInner > #cs_play1:checked ~ .cs_play_pause > .cs_play,
  .sliderInner > .slide:checked ~ .cs_play_pause > .cs_pause,
  .sliderInner > .pause:checked ~ .cs_play_pause > .cs_pause {
    display: none;
    z-index: -1; }
  .sliderInner > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num0 {
    opacity: 0;
    z-index: -1;
    -webkit-animation: pauseChange 16000ms infinite -2000ms;
    -ms-animation: pauseChange 16000ms infinite -2000ms;
    -moz-animation: pauseChange 16000ms infinite -2000ms;
    -o-animation: pauseChange 16000ms infinite -2000ms;
    animation: pauseChange 16000ms infinite -2000ms; }
  .sliderInner > #cs_play1:checked ~ .cs_play_pause > .cs_pause.num1 {
    opacity: 0;
    z-index: -1;
    -webkit-animation: pauseChange 16000ms infinite 6000ms;
    -ms-animation: pauseChange 16000ms infinite 6000ms;
    -moz-animation: pauseChange 16000ms infinite 6000ms;
    -o-animation: pauseChange 16000ms infinite 6000ms;
    animation: pauseChange 16000ms infinite 6000ms; }
  .sliderInner > .slide:checked ~ .cs_play_pause > .cs_pause,
  .sliderInner > .pause:checked ~ .cs_play_pause > .cs_pause {
    -webkit-animation: none;
    -ms-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none; }
  .sliderInner > #cs_slide1_0:checked ~ ul > li.num0,
  .sliderInner > #cs_pause1_0:checked ~ ul > li.num0,
  .sliderInner > #cs_slide1_1:checked ~ ul > li.num1,
  .sliderInner > #cs_pause1_1:checked ~ ul > li.num1 {
    opacity: 1;
    z-index: 2; }
  .sliderInner > ul > li {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 2000ms ease;
    -ms-transition: opacity 2000ms ease;
    -moz-transition: opacity 2000ms ease;
    -o-transition: opacity 2000ms ease;
    transition: opacity 2000ms ease;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  .sliderInner > #cs_play1:checked ~ ul > li.num0 {
    -webkit-animation: fade 16000ms infinite -2000ms;
    -ms-animation: fade 16000ms infinite -2000ms;
    -moz-animation: fade 16000ms infinite -2000ms;
    -o-animation: fade 16000ms infinite -2000ms;
    animation: fade 16000ms infinite -2000ms; }
  .sliderInner > #cs_play1:checked ~ ul > li.num1 {
    -webkit-animation: fade 16000ms infinite 6000ms;
    -ms-animation: fade 16000ms infinite 6000ms;
    -moz-animation: fade 16000ms infinite 6000ms;
    -o-animation: fade 16000ms infinite 6000ms;
    animation: fade 16000ms infinite 6000ms; }
  .sliderInner > #cs_play1:checked ~ ul > li,
  .sliderInner > .pause:checked ~ ul > li {
    -webkit-transition: none;
    -ms-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .sliderInner > .cs_bullets > label:hover > .cs_point,
  .sliderInner > #cs_slide1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
  .sliderInner > #cs_pause1_0:checked ~ .cs_bullets > label.num0 > .cs_point,
  .sliderInner > #cs_slide1_1:checked ~ .cs_bullets > label.num1 > .cs_point,
  .sliderInner > #cs_pause1_1:checked ~ .cs_bullets > label.num1 > .cs_point {
    background: #ffffff; }
  .sliderInner > #cs_play1:checked ~ .cs_bullets > label.num0 > .cs_point,
  .sliderInner > #cs_pause1:checked ~ .cs_bullets > label.num0 > .cs_point {
    -webkit-animation: bullet 16000ms infinite -2000ms;
    -ms-animation: bullet 16000ms infinite -2000ms;
    -moz-animation: bullet 16000ms infinite -2000ms;
    -o-animation: bullet 16000ms infinite -2000ms;
    animation: bullet 16000ms infinite -2000ms; }
  .sliderInner > #cs_play1:checked ~ .cs_bullets > label.num1 > .cs_point,
  .sliderInner > #cs_pause1:checked ~ .cs_bullets > label.num1 > .cs_point {
    -webkit-animation: bullet 16000ms infinite 6000ms;
    -ms-animation: bullet 16000ms infinite 6000ms;
    -moz-animation: bullet 16000ms infinite 6000ms;
    -o-animation: bullet 16000ms infinite 6000ms;
    animation: bullet 16000ms infinite 6000ms; }
  .sliderInner > #cs_play1:checked ~ .cs_bullets > label > .cs_point,
  .sliderInner > .pause:checked ~ .cs_bullets > label > .cs_point {
    -webkit-animation: none;
    -ms-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none; }
  .sliderInner > .slide:checked ~ .cs_bullets > label > .cs_point,
  .sliderInner > .pause:checked ~ .cs_bullets > label > .cs_point {
    -webkit-animation: none;
    -ms-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none; }

/* --------------------------
 * --------- BOXES ----------
 * --------------------------
 */
ul.boxes {
  height: auto;
  padding: 0; }

ul.boxes:after {
  content: "";
  display: block;
  clear: both; }

ul.boxes li {
  display: inline-block;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #9aa4a5;
  background: white;
  -webkit-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  width: 32%;
  margin-bottom: 5px;
  margin-top: 5px;
  float: left; }
  ul.boxes li:nth-child(n) {
    margin-right: 1.5%; }
  ul.boxes li:nth-child(1n) {
    margin-top: 10px; }
  ul.boxes li:nth-child(3n) {
    margin-right: 0; }
  ul.boxes li a {
    height: auto;
    display: block;
    padding: 2%;
    cursor: pointer;
    color: black; }
    ul.boxes li a img {
      width: 100%;
      height: auto; }
    ul.boxes li a .desc {
      width: 100%;
      height: 70px;
      margin-top: 2%;
      padding: 2%;
      display: table; }
      ul.boxes li a .desc .descInner {
        display: table-cell;
        vertical-align: middle; }
        ul.boxes li a .desc .descInner h5 {
          margin: 0;
          font-size: 13px;
          font-weight: 900; }
        ul.boxes li a .desc .descInner p {
          margin: 0;
          font-size: 12px;
          font-weight: 400; }

ul.boxes li:hover {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s; }

@media only screen and (max-width: 1400px) {
  section > .one_third {
    width: 23.05%; } }
/* Desktop / Laptop */
@media only screen and (max-width: 960px) {
  .fixpic {
    display: none; }

  ul.boxes li {
    width: 49%;
    margin-bottom: 5px;
    margin-top: 5px;
    float: left; }
    ul.boxes li:nth-child(n) {
      margin-right: 1.5%; }
    ul.boxes li:nth-child(1n) {
      margin-top: 10px; }
    ul.boxes li:nth-child(2n) {
      margin-right: 0; } }
/* iPad & Tablet */
@media only screen and (max-width: 768px) {
  section .one_half {
    width: 100%;
    padding: 1em; }

  section > .pic {
    display: none; }

  #container .one_fifth {
    display: none; }
  #container .one_half:nth-child(1) {
    padding-right: 1em; }
  #container .one_half:nth-child(2) {
    padding-left: 1em; }
  #container .four_fifth {
    width: 100%; } }
/* Small Tablets & Larger Phones */
@media only screen and (max-width: 685px) {
  ul.boxes li {
    width: 32%;
    margin-bottom: 5px;
    margin-top: 5px;
    float: left; }
    ul.boxes li:nth-child(n) {
      margin-right: 1.5%; }
    ul.boxes li:nth-child(1n) {
      margin-top: 10px; }
    ul.boxes li:nth-child(3n) {
      margin-right: 0; }

  #container > .one_half {
    width: 100%; }
  #container > .one_half:nth-child(1) {
    padding-right: 0;
    margin-left: 0; }
  #container > .one_half:nth-child(2) {
    padding-left: 0; }
  #container > .one_half:nth-child(1) {
    border: 0; }

  #headerinner #img {
    margin: 0 0 0 2%; }

  .cs_play_pause, .cs_bullets {
    display: none; } }
/* iPhone (Landscape) */
@media only screen and (max-width: 568px) {
  ul.boxes li {
    width: 49%;
    margin-bottom: 5px;
    margin-top: 5px;
    float: left; }
    ul.boxes li:nth-child(n) {
      margin-right: 1.5%; }
    ul.boxes li:nth-child(1n) {
      margin-top: 10px; }
    ul.boxes li:nth-child(2n) {
      margin-right: 0; } }
/* iPhone (Portrait) */
/* Retina Display */
