@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif; }

/*Typography*/
/**************************/
.first-character {
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Source Sans Pro', sans-serif; }

.an {
  color: #197497; }

.cu {
  color: #3d3c3a; }

.h {
  color: #fff; }

.kdesign {
  font-style: italic; }

h1 {
  margin: 0px auto;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  line-height: 2.618em; }

h2 {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  text-align: center; }

h6 {
  font-size: 13px;
  font-weight: bolder;
  color: white; }

p {
  color: black;
  font-size: 18px; }

#h1contact {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.1618em; }

/*Typography*/
/**************************/
/*Sections*/
/**************************/
.headerschrift {
  margin: 0 auto;
  position: relative;
  transform: translateY(50%);
  color: white;
  top: 50%; }

#home {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background: url("../img/keyb.jpg") 50% 0 no-repeat fixed;
  background-position-x: center;
  min-height: 700px; }
  #home article {
    margin: 0 auto;
    height: 300px;
    padding: 60px;
    text-align: justify; }

#blog {
  background-color: white;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); }
  #blog article {
    margin: 0 auto;
    height: auto;
    padding: 60px;
    text-align: justify; }

#design {
  position: relative;
  background-size: cover;
  background-position-x: center;
  background: url("../img/plants.jpg") no-repeat center center;
  background-attachment: fixed;
  min-height: 200px; }
  #design article {
    padding: 60px;
    color: white; }

#scrolldown {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin: 0 auto;
  background: url("../img/arrow1.png") 50% 0 no-repeat;
  position: relative;
  top: 40px; }

#work {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8); }
  #work article {
    padding: 60px; }

#resume {
  background-color: white;
  margin: 0 auto;
  width: 100%;
  position: relative;
  /*-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8); */
  background-position-x: center; }
  #resume article {
    margin: 0 auto;
    height: auto;
    padding: 60px;
    text-align: justify; }

#contact {
  background: url("../img/hallfront.jpg") 50% 0 repeat fixed;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  background-position-x: center; }
  #contact article {
    margin: 0 auto;
    height: 300px;
    padding: 60px;
    text-align: justify; }

#footer-left {
  text-align: left;
  margin-left: 20px;
  margin-top: 350px;
  color: #000; }
  #footer-left h6 {
    color: #000; }

/*Sections*/
/**************************/
/*Menu*/
/**************************/
#mainnavi {
  list-style-type: none;
  text-align: left;
  padding-top: 30px;
  padding-left: 10px;
  width: 100%;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif; }
  #mainnavi ul {
    /*margin: 0 auto;*/ }
    #mainnavi ul li {
      padding: 15px; }
      #mainnavi ul li p {
        font-weight: 600; }

.mainnaviSpan {
  font-weight: 600;
  color: #000000;
  font-style: italic; }

#mainnavi ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2.8rem; }
  #mainnavi ul li a:hover {
    background: rgba(255, 255, 255, 0.8); }

a:focus {
  outline: 0; }
a:hover, a:active {
  color: #0e1718 !important; }

#toggle {
  position: absolute;
  z-index: 100;
  width: 28px;
  height: 30px;
  margin: 10px;
  margin-left: 30px;
  cursor: pointer; }
  #toggle div {
    width: 100%;
    height: 5px;
    background: #197497;
    margin: 4px auto;
    transition: all 0.6s;
    backface-visibility: hidden; }
  #toggle.on .one {
    transform: rotate(45deg) translate(5px, 5px);
    background: black; }
  #toggle.on .two {
    opacity: 0; }
  #toggle.on .three {
    transform: rotate(-45deg) translate(7px, -8px);
    background: black; }

#menu {
  background-color: rgba(25, 116, 151, 0.8);
  z-index: 99;
  position: fixed;
  color: black;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  margin: auto;
  display: none;
  text-decoration: none; }

/*Menu*/
/**************************/
/*Contact-Card*/
/**************************/
::selection, ::-moz-selection {
  background-color: #b3d4fc; }

#container {
  width: 100%;
  height: 100%;
  display: table; }

#container-inner {
  display: table-cell;
  vertical-align: middle; }
  #container-inner h1 {
    margin: 0px auto;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1618em;
    line-height: 2.618em; }

a:hover {
  cursor: default;
  color: #fff; }

span {
  color: #197497; }

#contactNav {
  text-align: center; }
  #contactNav ul {
    display: inline-block; }

li, a {
  display: inline-block; }

#contactNav ul li {
  border-right: 1px solid #000; }
  #contactNav ul li:nth-child(4) {
    border: none; }
  #contactNav ul li a {
    padding: 20px;
    text-decoration: none;
    color: #111;
    font-family: "zocial", sans-serif;
    font-size: 24px; }

a:focus {
  outline: 0; }
a:hover, a:active {
  color: #0e1718 !important; }

.imageFromMe {
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  right: 5%;
  width: 200px;
  height: 200px; }

/*Contact-Card*/
/**************************/
/*Work*/
/**************************/
.hidden {
  display: none; }

#filter {
  text-align: center;
  background-color: #333;
  padding: 15px; }
  #filter button {
    border: 0;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
    padding: 5px 20px; }
    #filter button.active {
      background-color: #406174; }
    #filter button:focus {
      outline: 0; }

.posts {
  max-width: 1200px;
  margin: 0 auto; }
  .posts .post {
    width: 100%;
    float: left;
    height: 250px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: inline-block;
    background: #3c3c3c; }
    .posts .post img {
      position: relative;
      display: block;
      width: -webkit-calc(100% + 60px);
      width: calc(100% + 60px);
      opacity: 1;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
      transform: translate3d(-30px, 0, 0) scale(1.2);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      min-height: 100%; }
    .posts .post:hover img {
      opacity: 0.2;
      -webkit-transform: translate3d(0, 0, 0) scale(1);
      transform: translate3d(0, 0, 0) scale(1); }
    .posts .post .post-content {
      padding: 2em;
      color: white;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer; }
      .posts .post .post-content::before, .posts .post .post-content::after {
        pointer-events: none; }
    .posts .post a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0; }
    .posts .post h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 1em 1.2em;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0); }
    .posts .post:hover h2 {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .posts .post h2 {
      margin: 0; }
    .posts .post p {
      margin: 0;
      letter-spacing: 1px;
      font-size: 68.5%;
      padding: 0 10px 0 0;
      width: 50%;
      border-right: 1px solid #fff;
      text-align: right;
      opacity: 0;
      color: white;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-40px, 0, 0);
      transform: translate3d(-40px, 0, 0); }
    .posts .post:hover p {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

/*Work*/
/**************************/
/*Responsive shit*/
/**************************/
@media all and (max-width: 1024px) {
  #mainnavi {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 60%; }
    #mainnavi ul li {
      padding: 5px; }
      #mainnavi ul li a {
        font-size: 1.5rem;
        padding: 5px; }

  h1 {
    margin: 0px auto;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.1618em;
    line-height: 2.618em; }

  h2 {
    font-size: 20px; }

  h6 {
    font-size: 10px; }

  p {
    color: black;
    font-size: 14px; }

  #h1contact {
    font-size: 30px; }

  #contactNav ul li a img {
    width: 40px; }

  #menu {
    background-color: rgba(25, 116, 151, 0.9); }

  #posts .post {
    width: 50%; } }
