html
	head
		meta(content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" type="text/css" href="../css/global.css")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="../fontawesome/font-awesome.min.css")

	body
		#mainContainer

			#contact 
				a(href="")
				#contactOuter
					#contactInner
						h3 CONTACT ME!

						form(method="POST" action="mailto:janpeer264@gmail.com")
							.group
								.left
									input(type="text" value="" placeholder="NAME" name="name" tabindex="1" class="redacted")

								.right
									input(type="text" value="" placeholder="EMAIL" name="email" tabindex="3" class="redacted")


							div
								textarea(placeholder="MESSAGE" name="message" tabindex="5" rows="10" class="redacted")
							
							div
								input(type="submit" value="Send Mail" tabindex="6" class="redacted")

			#header
				#headerinner
					#img
						a(href="../about") 
							img(src="../img/logo.png")
					#navigation
						ul
							li 
								a(href="../about") about
							li 
								a(href="") portfolio
							li 
								a(href="#contact") contact

			#refContainer 
				//- #sortOuter
				//- 	#sortInner
				//- 		section SortBy	
				//- 			form
				h3 MY WORK

				ul.boxes
					li
						a(href="http://www.digitalnativesounds.at" target="_blank")
							img(src="../img/work/digital.jpg")
							.desc
								.descInner
									h5 DigitalNativeSounds 
									p Webdesign

					li
						a(href="http://www.volxpop-music.at" target="_blank")
							img(src="../img/work/volxpop.jpg")
							.desc
								.descInner
									h5 Volxpop
									p WordPress Theme Optimization

					li
						a(href="")
							img(src="../img/work/portal.jpg")
							.desc
								.descInner
									h5 PortalBee
									p Photography / Macro

					li
						a(href="")
							img(src="../img/work/naturpark.jpg")
							.desc
								.descInner
									h5 Naturpark Sparbach (current)
									p WordPress Theme Optimization

					li
						a(href="")
							img(src="../img/work/prazna.jpg")
							.desc
								.descInner
									h5 Motorrad Prazna (current)
									p Joomla Theme Optimization



			#footer 
				#footerInner copyright by Jan Peer
				
					#footIMG
						a(href="../") 
							img(src="../img/logo.png")